<h2>Brickset</h2>
<% var b = brickset%>
<ul>
    <li>Name: <%= b.name %></li>
    <li>Pieces: <%= b.pieces %></li>
    <li>Minifigs: <%= b.minifigs %></li>
    <li>EURetailPrice: <%= b.EURetailPrice %></li>
    <li>USRetailPrice: <%= b.USRetailPrice %></li>
    <li>UKRetailPrice: <%= b.UKRetailPrice %></li>
    <li>Rating: <%= b.rating %></li>
</ul>



<!--{"setID":24795,"number":"75136","numberVariant":1,"name":"Droid Escape Pod","year":"2016","theme":"Star Wars",-->
<!--"themeGroup":"Licensed","subtheme":"Episode IV","pieces":"197","minifigs":"4","image":true,"imageFilename":"75136-1",-->
<!--"thumbnailURL":"http://images.brickset.com/sets/thumbs/tn_75136-1_jpg.jpg",-->
<!--"largeThumbnailURL":"http://images.brickset.com/sets/small/75136-1.jpg",-->
<!--"imageURL":"http://images.brickset.com/sets/images/75136-1.jpg","bricksetURL":"http://brickset.com/sets/75136-1","released":true,-->
<!--"owned":false,"wanted":false,"qtyOwned":0,"ACMDataCount":0,"ownedByTotal":3838,"wantedByTotal":2068,"UKRetailPrice":"19.99",-->
<!--"USRetailPrice":"24.99","CARetailPrice":"29.99","EURetailPrice":"29.99","USDateAddedToSAH":"2016-03-01","USDateRemovedFromSAH":"",-->
<!--"rating":"4.2","reviewCount":5,"packagingType":"Box","availability":"Retail",-->
<!--"instructionsCount":2,"additionalImageCount":10,"EAN":"","UPC":"673419247511","lastUpdated":"2016-02-13T22:07:12.443Z"}-->